.catalog {
  background-color: $grey;
  font-family: "Roboto-Slab", "Times New Roman", serif;
}

.catalog__title {
  margin: 0;
  font-weight: 400;
  font-size: 36px;
  line-height: 52px;
  text-align: center;
  letter-spacing: 2px;
}

.catalog__container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 104px 0.7% 60px 1%;
}

.catalog__list {
  @include reset-list;

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-height: 1100px;
  height: 94.75%;
  margin-bottom: 5px;
}

.catalog__sort {
  cursor: pointer;
  padding: 0;
  border: none;
  background-color: transparent;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: $navy;
  margin: 0 auto 38px;
  display: block;
}

.catalog__decription-button {
  color: $text-blue;
  font-size: 18px;
  line-height: 48px;
  letter-spacing: 0.9px;
  border: none;
  padding: 0;
  background-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  outline: none;
}

.catalog__triangle {
  display: block;
  border: 4px solid transparent;
  border-left: 4px solid $text-blue;
  margin-top: 3px;
}

.catalog__label-button {
  margin-right: 17px;
}

.catalog__decription-button:hover {
  color: $navy;
}

.catalog__decription-button:hover .catalog__triangle {
  border-left-color: $navy;
}

.catalog__decription-button:active {
  opacity: 0.7;
}

.catalog__price {
  font-size: 30px;
  line-height: 48px;
}

.catalog__old-price {
  opacity: 0.55;
  text-decoration: line-through;
  font-size: 18px;
  line-height: 48px;
}

.catalog__duration,
.catalog__route {
  font-family: "Raleway", "Arial", sans-serif;
}

.catalog__label {
  font-weight: 700;
  margin-right: 7px;
}

.catalog__text-string {
  display: flex;
  line-height: 18px;
}

.catalog__text-string:first-of-type {
  margin-bottom: 6px;
}

.catalog__text-string:nth-of-type(2) {
  margin-bottom: 10px;
}

.catalog__wrapper {
  background-color: $white;
  padding: 2.2% 7% 5.5%;
}

.catalog__image {
  display: block;
  width: 100%;
}

.catalog__item {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 48.68%;
  margin-bottom: 21px;
  position: relative;

  &--anapa {
    margin-right: 25px;

    .catalog__image {
      max-height: 437px;
    }
  }

  &--sochi,
  &--gelenzhik {
    .catalog__image {
      max-height: 113px;
    }
  }

  &--abrau-durso,
  &--novorossiysk {
    .catalog__image {
      max-height: 215px;
    }
  }
}

.catalog__item:hover {
  box-shadow: 0 0 15px 0 rgba(16, 17, 17, 0.4);
}

.catalog__hit,
.catalog__promo,
.catalog__sale {
  position: absolute;
  width: 88px;
  color: $white;
  text-transform: uppercase;
  text-align: center;
  padding: 25px 3px 18px;
  right: 8%;
  top: -9px;
  line-height: 18px;
}

.catalog__hit {
  font-family: "Raleway", "Arial", sans-serif;
  background-color: $light-blue;
}

.catalog__promo {
  font-family: "Raleway", "Arial", sans-serif;
  background-color: $red-promo;
}

.catalog__sale {
  font-family: "Raleway", "Arial", sans-serif;
  background-color: $red-sale;
}

.catalog__hit::before,
.catalog__hit::after,
.catalog__promo::before,
.catalog__promo::after,
.catalog__sale::before,
.catalog__sale::after {
  content: "";
  position: absolute;
  bottom: -66px;
  border: 46px solid transparent;
}

.catalog__hit::before,
.catalog__hit::after {
  border-top: 20px solid $light-blue;
}

.catalog__promo::before,
.catalog__promo::after {
  border-top: 20px solid $red-promo;
}

.catalog__sale::before,
.catalog__sale::after {
  border-top: 20px solid $red-sale;
}

.catalog__hit::before {
  left: 0;
  border-left: 0 solid $light-blue;
}

.catalog__hit::after {
  right: 0;
  border-right: 0 solid $light-blue;
}

.catalog__promo::before {
  left: 0;
  border-left: 0 solid $red-promo;
}

.catalog__promo::after {
  right: 0;
  border-right: 0 solid $red-promo;
}

.catalog__sale::before {
  left: 0;
  border-left: 0 solid $red-sale;
}

.catalog__sale::after {
  right: 0;
  border-right: 0 solid $red-sale;
}

.catalog__prices {
  display: flex;
  align-items: center;
}

.catalog__prices .catalog__price {
  margin-right: 32px;
}

.catalog__button {
  display: flex;
  width: 202px;
  color: $white;
  text-align: center;
  margin: 0 auto;
  background-color: $light-blue;
  outline: none;
  font-family: "Raleway", "Arial", sans-serif;
  justify-content: center;
  align-items: center;
  line-height: 45px;
  letter-spacing: 1px;
  padding: 2px;
}

.catalog__button:hover {
  background-color: $light-blue-hover;
}

.catalog__button:active {
  background-color: $light-blue-active;
}

.catalog__button-wrapper {
  text-align: center;
}

.catalog__button-triangle {
  display: block;
  border: 5px solid transparent;
  border-top: 5px solid $white;
  margin-top: 5px;
}

.catalog__button-text {
  margin-right: 15px;
}

@media (max-width: $tablet-width) {
  .catalog__title {
    font-size: 26px;
    line-height: 26px;
    margin-bottom: 6px;
  }

  .catalog__container {
    padding: 58px 15px 59px;
  }

  .catalog__list {
    height: 100%;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0;
    max-height: 100%;
  }

  .catalog__item {
    margin-bottom: 25px;
    background-color: $white;

    .catalog__image {
      max-height: 275px;
    }

    &--abrau-durso {
      display: none;
    }

    &--anapa {
      order: -1;
      margin-right: 0;

      .catalog__decription-button {
        width: 155px;
      }

      .catalog__triangle {
        top: 24px;
        right: 57px;
      }
    }

    &--sochi {
      order: 0;

      .catalog__triangle {
        top: 24px;
        right: 135px;
      }

      .catalog__wrapper {
        padding-left: 12%;
      }

      .catalog__decription-button {
        width: 282px;
      }

      .catalog__triangle {
        top: 22px;
        right: 125px;
      }
    }

    &--gelenzhik {
      order: 1;

      .catalog__decription-button {
        width: 187px;
      }

      .catalog__triangle {
        top: 22px;
        right: 44px;
      }

      .catalog__text-string:nth-of-type(2) {
        margin-bottom: 33px;
      }

      .catalog__wrapper {
        padding-top: 22px;
      }
    }

    &--novorossiysk {
      order: 2;

      .catalog__decription-button {
        width: 167px;
      }

      .catalog__triangle {
        top: 21px;
        right: -6px;
      }

      .catalog__label {
        margin-right: 2px;
      }

      .catalog__wrapper {
        padding-left: 11%;
        padding-right: 4px;
        padding-top: 22px;
      }
    }
  }

  .catalog__image {
    height: 275px;
  }

  .catalog__wrapper {
    padding: 26px 20px 27px 33px;
  }

  .catalog__decription-button {
    line-height: 18px;
    display: block;
    text-align: left;
    position: relative;
    margin-bottom: 12px;
  }

  .catalog__triangle {
    position: absolute;
  }

  .catalog__label-button {
    margin-right: 0;
  }

  .catalog__sort {
    letter-spacing: 1px;
    margin-bottom: 32px;
  }

  .catalog__hit {
    width: 92px;
    right: 10%;
    top: -7px;
    padding-bottom: 21px;
  }

  .catalog__promo {
    width: 89px;
    right: 9%;
    top: -7px;
    padding: 36px 3px 27px;
  }

  .catalog__text-string:first-of-type {
    margin-bottom: 0;
  }

  .catalog__prices .catalog__price {
    margin-right: 16px;
  }

  .catalog__prices {
    align-items: baseline;
  }

  .catalog__route,
  .catalog__label {
    line-height: 24px;
  }

  .catalog__sale {
    width: 91px;
    right: 10%;
    padding: 28px 3px 19px;
  }

  .catalog__duration {
    line-height: 24px;
  }
}

@media (max-width: $mobile-width) {
  .catalog__container {
    padding: 50px 4.69% 30px;
  }

  .catalog__title {
    font-size: 20px;
    letter-spacing: 1px;
    margin-bottom: 3px;
  }

  .catalog__sort {
    margin-bottom: 26px;
  }

  .catalog__list {
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .catalog__item {
    width: 100%;
    margin-bottom: 21px;

    &--sochi {
      .catalog__wrapper {
        padding-left: 23px;
        padding-bottom: 28px;
      }

      .catalog__triangle {
        right: 22px;
        top: 26px;
      }

      .catalog__text-string:nth-of-type(2) {
        margin-bottom: 9px;
      }

      .catalog__decription-button {
        width: 266px;
      }
    }

    &--gelenzhik {
      .catalog__wrapper {
        padding-top: 25px;
        padding-bottom: 28px;
      }

      .catalog__decription-button {
        width: 191px;
        margin-bottom: 10px;
      }

      .catalog__triangle {
        top: 27px;
        right: 42px;
      }
    }

    &--novorossiysk {
      .catalog__wrapper {
        padding-top: 25px;
        padding-left: 23px;
        padding-bottom: 11px;
      }

      .catalog__triangle {
        top: 26px;
        right: -12px;
      }
    }
  }

  .catalog__wrapper {
    padding: 25px 0 34px 23px;
  }

  .catalog__image {
    height: 230px;
  }

  .catalog__hit {
    right: 7%;
  }

  .catalog__decription-button {
    line-height: 20px;
    margin-bottom: 8px;
  }

  .catalog__text-string:nth-of-type(2) {
    margin-bottom: 7px;
  }

  .catalog__promo {
    right: 8%;
    top: -8px;
  }

  .catalog__prices .catalog__price {
    margin-right: 8px;
  }

  .catalog__sale {
    width: 89px;
    right: 8%;
    top: -7px;
    padding-bottom: 18px;
  }

  .catalog__button {
    line-height: 41px;
  }
}
