.page-header__container {
  max-width: 1170px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 32px 0.7% 0 0.9%;
  align-items: top;
  position: relative;
}

.page-header__wrapper {
  max-width: 518px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.page-header__phone {
  line-height: 15px;
  font-weight: 700;
  color: $navy;
}

.page-header__phone:hover {
  color: $light-blue-hover;
}

.page-header__phone:active {
  opacity: 0.7;
}

.page-header__phone-description {
  font-size: 10px;
  line-height: 14px;
}

.page-header__contacts {
  display: flex;
  flex-direction: column;
}

.page-header__toggle {
  padding: 0;
  border: none;
  display: block;
  width: 25px;
  height: 25px;
  cursor: pointer;
  outline: none;
  background-color: transparent;
}

.page-header__toggle span::before,
.page-header__toggle span::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 24px;
  height: 2px;
  background-color: $navy;
  transition: top 0.3s, transform 0.3s  0.3s;
}

.page-header__toggle span::before {
  transform: rotate(45deg);
}

.page-header__toggle span::after {
  transform: rotate(-45deg);
}

.page-header {
  position: absolute;
  width: 100%;
  z-index: 1;

  &--menu-closed {
    .main-nav {
      display: none;
    }

    .page-header__toggle span {
      display: block;
      width: 24px;
      height: 2px;
      background-color: $navy;
      position: relative;
    }

    .page-header__toggle span::before,
    .page-header__toggle span::after {
      left: 0;
      width: 24px;
      height: 2px;
      transform: none;
      transform-origin: 50% 50%;
      transition: top 0.3s 0.3s, transform 0.3s;
    }

    .page-header__toggle span::after {
      top: -6px;
    }

    .page-header__toggle span::before {
      top: 6px;
    }
  }
}

.page-header__toggle span {
  display: block;
  position: relative;
  background-color: transparent;
}

.page-header__toggle:hover span {
  background-color: $light-blue-hover;
}


.page-header__toggle:hover span::before,
.page-header__toggle:hover span::after {
  background-color: $light-blue-hover;
}

.page-header__toggle:active span {
  background-color: $light-blue-active;
}

.page-header__toggle:active span::before,
.page-header__toggle:active span::after {
  background-color: $light-blue-active;
}

.page-header__user-profile svg {
  color: $light-blue;
  margin-right: 9px;
}

.page-header__user-profile {
  color: $navy;
  display: flex;
  align-items: center;
}

.page-header__triangle {
  display: block;
  border: 5px solid transparent;
  border-top: 5px solid $navy;
  margin-top: 5px;
}

.page-header__user-title {
  margin-right: 4px;
}

.page-header__user-profile:hover {
  color: $light-blue-hover;
}

.page-header__user-profile:hover svg,
.page-header__currency-toggle:hover svg {
  color: $light-blue-hover;
}

.page-header__user-profile:hover .page-header__triangle,
.page-header__language-toggle:hover .page-header__triangle,
.page-header__currency-toggle:hover .page-header__triangle {
  border-top-color: $light-blue-hover;
}

.page-header__user-profile:active,
.page-header__currency-toggle:active,
.page-header__language-toggle:active {
  opacity: 0.7;
}

.page-header__currency-toggle,
.page-header__language-toggle {
  background-color: transparent;
  padding: 0;
  border: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 14px;
  line-height: 24px;
  outline: none;
}

.page-header__currency-toggle svg {
  color: $light-blue;
  margin-right: 8px;
}

.page-header__language {
  margin-right: 8px;
}

.page-header__currency-text {
  margin-right: 9px;
}

.page-header__currency-toggle:hover,
.page-header__language-toggle:hover {
  color: $light-blue-hover;
}

.page-header__logo-mobile {
  display: none;
}

.page-header__logo-image {
  display: none;
}

@media (max-width: $tablet-width) {
  .page-header__container {
    max-width: 750px;
    padding: 33px 15px 0;
  }

  .page-header__wrapper {
    width: 510px;
  }
}

@media (max-width: $mobile-width) {
  .page-header__wrapper {
    display: none;
  }

  .page-header__logo-image {
    display: block;
  }

  .page-header__container {
    flex-direction: column;
    justify-content: stretch;
    padding: 0;
  }

  .page-header {
    background-color: $navy;

    .main-nav {
      position: static;
    }

    .main-nav__list {
      padding: 0;
    }

    &--menu-closed {
      background-color: transparent;

      .page-header__toggle span::before,
      .page-header__toggle span::after {
        background-color: $navy;
      }

      .page-header__logo-mobile-link {
        display: none;
      }

      .page-header__container {
        min-width: 320px;
        padding: 25px 4.68% 0;
      }

      .page-header__mobile-wrapper {
        padding: 0;
        border-bottom: none;
      }
    }
  }

  .page-header__toggle span::before,
  .page-header__toggle span::after {
    background-color: $white;
  }

  .page-header__toggle:hover span::before,
  .page-header__toggle:hover span::after {
    background-color: $light-blue-hover;
  }

  .page-header__toggle:active span::before,
  .page-header__toggle:active span::after {
    background-color: $light-blue-active;
  }

  .page-header__logo-mobile {
    display: block;
  }

  .page-header__logo-mobile-link {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 85px;
    height: 85px;
    background-color: $white;
    border-radius: 50%;
    border: 2px solid $light-blue;
  }

  .page-header__mobile-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 4.68% 15px;
    border-bottom: 1px solid $light-blue;
  }
}
