.social__list {
  @include reset-list;
  display: flex;
  flex-shrink: 0;
  flex-wrap: wrap;
}

.social__link {
  width: 30px;
  height: 30px;
  background-color: $navy;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $white;
}

.social__link:hover {
  background-color: $light-blue-hover;
}

.social__link:active {
  background-color: $light-blue-active;
}

.social__item {
  margin-right: 11px;
}

@media (max-width: $mobile-width) {
  .social__list {
    justify-content: center;
  }
}
