$navy: #0d3351;
$white: #ffffff;
$black: #000000;
$light-blue: #33c7fd;
$light-blue-hover: #13b0e9;
$light-blue-active: #64d6ff;
$background-blue: #d3e8fb;
$grey: #f3f3f3;
$dark-grey: #8699a8;
$text-blue: #00a2dd;
$red-promo: #f20542;
$red-sale: rgb(242, 5, 66);
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
$tablet-width: 1023px;
$mobile-width: 767px;
